<div class="row">
   <div class="col-md-8">
     <div class="media">
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.bookmarks.count, 'bookmark') %>,
           <%= pluralize(@user.likes.count, 'like') %>
         </small>
       </div>
     </div>
   </div>
 </div>
 
 </br>

<div class="row">
   <div class="tabbable tabs-left">
     <ul class="nav nav-tabs">
       <li class="active"><a href="#bookmarks" data-toggle="tab">Bookmarks</a></li>
       <li><a href="#likes" data-toggle="tab">Likes</a></li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane active" id="bookmarks">
       </br>
         <% @user_bookmarks.each do |bookmark| %>
          <div class="thumbnail">
            <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
            <% if bookmark.title != nil %>
              <b><%= "#{bookmark.title}" %></b></br>
            <% else %>
              <b class="no-title-preview">Bookmark title preview is not available</b></br>
            <% end %>
            <%= link_to "#{bookmark.url}", "#{bookmark.url}", target: "_blank" %>
            <% if policy(bookmark).update? %>
              &nbsp;<i><%= link_to "edit", edit_bookmark_path(bookmark), class: 'edit-destroy-link' %></i> /
              <i><%= link_to "destroy", [bookmark], method: :delete, data: { confirm: 'Are you sure you want to delete this bookmark?' }, class: 'edit-destroy-link' %></i></br>
            <% end %>
            <% if bookmark.image != nil %>
              <%= image_tag(("#{bookmark.image}"), size: "240").html_safe %>
            <% else %>
              <%= image_tag("no-preview.png", size: "240", :alt => "No Preview Available") %>
            <% end %>
            <hr>
            <%= link_to "##{bookmark.topic.title}", bookmark.topic(:topic_id) %>
        </div>
         <% end %>
       </div>
       <div class="tab-pane" id="likes">
       </br>
         <% @liked_bookmarks.each do |like| %>
          <div class="thumbnail">
            <%= render partial: 'likes/like', locals: { bookmark: like.bookmark } %>
            <% if like.bookmark.title  != nil %>
              <b><%= "#{like.bookmark.title}" %></b></br>
            <% else %>
              <b class="no-title-preview">Bookmark title preview is not available</b></br>
            <% end %>
            <%= link_to "#{like.bookmark.url}", "#{like.bookmark.url}", target: "_blank" %>
            <% if policy(Topic).update? %>
              &nbsp;<i><%= link_to "edit", edit_bookmark_path(like.bookmark), class: 'edit-destroy-link' %></i> /
              <i><%= link_to "destroy", [like.bookmark], method: :delete, data: { confirm: 'Are you sure you want to delete this bookmark?' }, class: 'edit-destroy-link' %></i></br>
            <% end %>
            <% if like.bookmark.image != nil %>
              <%= image_tag(("#{like.bookmark.image}"), size: "240").html_safe %>
            <% else %>
              <%= image_tag("no-preview.png", size: "240", :alt => "No Preview Available") %>
            <% end %>
            <hr>
            <%= link_to "##{like.bookmark.topic.title}", like.bookmark.topic(:topic_id) %>
            </div>
          <% end %>
       </div>
     </div>
   </div>
 </div>